---
import { onClickEmail } from '@utils/content-utils'
import { Icon } from 'astro-icon/components'
import { profileConfig } from '../../config'
import { url } from '../../utils/url-utils'
import ImageWrapper from '../misc/ImageWrapper.astro'

const config = profileConfig
---
<div class="card-base p-3">
    <a aria-label="Go to About Page" href={url('/about/')}
       class="group block relative mx-auto mt-1 lg:mx-0 lg:mt-0 mb-3
       max-w-[240px] lg:max-w-none overflow-hidden rounded-xl active:scale-95">
        <div class="absolute transition pointer-events-none group-hover:bg-black/30 group-active:bg-black/50
        w-full h-full z-50 flex items-center justify-center">
            <Icon name="fa6-regular:address-card"
                  class="transition opacity-0 scale-90 group-hover:scale-100 group-hover:opacity-100 text-white text-5xl">
            </Icon>
        </div>
        <ImageWrapper src={config.avatar || ""} alt="Profile Image of the Author" class="mx-auto lg:w-full h-full lg:mt-0 "></ImageWrapper>
    </a>
    <div class="px-2">
        <div class="font-bold text-xl text-center mb-1 dark:text-neutral-50 transition">{config.name}</div>
        <div class="h-1 w-5 bg-[var(--primary)] mx-auto rounded-full mb-2 transition"></div>
        <div class="text-center text-neutral-400 mb-2.5 transition">{config.bio}</div>
        <div class="flex gap-2 justify-center mb-1">
            {config.links.length > 1 && config.links.map(item =>
                    <a rel="me" aria-label={item.name} href={item.url} target="_blank" class="btn-regular rounded-lg h-10 w-10 active:scale-90">
                        <Icon name={item.icon} class="text-[1.5rem]"></Icon>
                    </a>
            )}
            {config.links.length == 1 && 
                <button id="email-copy-btn" data-email={config.links[0].url} aria-label="이메일 주소 복사 버튼" class="btn-regular rounded-lg h-10 gap-2 px-3 font-bold active:scale-95 cursor-pointer">
                    <Icon name={config.links[0].icon} class="text-[1.5rem]"></Icon>
                {config.links[0].name}
            </button>}
        </div>
    </div>
</div>

<script>
    const emailCopyBtn = document.getElementById('email-copy-btn');

    if (emailCopyBtn) {
        const email = emailCopyBtn.getAttribute('data-email');

        emailCopyBtn.addEventListener('click', () => {
            if (email) {
                navigator.clipboard.writeText(email)
                    .then(() => {
                        alert('이메일 주소가 복사되었습니다');
                    })
                    .catch(err => {
                        console.error('이메일 주소 클립보드 복사 실패:', err);
                        alert('이메일 주소 복사에 실패했습니다. 직접 복사해주세요: ' + email);
                    });
            } else {
                alert('이메일 주소를 찾을 수 없습니다.');
            }
        });
    }
</script>